.root {
     -fx-background-image: url("background.jpg");
	 -fx-background-repeat: no-repeat;
	 -fx-background-size: cover;
     -fx-alignment: center ;
     -fx-padding: 10 ;
}

#direction {
	-fx-font-size: 25;
    -fx-font-weight: 500;
    -fx-text-fill: #008080;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
     -fx-alignment: center ;
}	

.button{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#BEB9B9, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#output {
	-fx-fill: FIREBRICK;
	-fx-font-family: "Arial";
	-fx-border-color: #6495ED ;
    -fx-border-width: 3 ; 
}